<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>573040687462-7b2ns0v6qg48pclkccs9kr32j6thof1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573040687462-7b2ns0v6qg48pclkccs9kr32j6thof1e</string>
	<key>API_KEY</key>
	<string>AIzaSyDBJShwahm8qJwBi0VV77g6e_scf7GOiHU</string>
	<key>GCM_SENDER_ID</key>
	<string>573040687462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nudgespot.Nudgespot</string>
	<key>PROJECT_ID</key>
	<string>nudgespot-gcm-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>nudgespot-gcm-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:573040687462:ios:81e20dbd70665f6e</string>
	<key>DATABASE_URL</key>
	<string>https://nudgespot-gcm-stg.firebaseio.com</string>
</dict>
</plist>